#languages {
  text-align: right;
}

/*.center {*/
  /*display: block;*/
  /*width: 100%;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
/*}*/

.post img {
  margin-left: auto;
  margin-right: auto;
}

.post-preview-body {
  margin: 5px 15px 5px 15px;
  padding: 20px 5px 5px 20px;
}
.post-preview-body h3 {
  display: none;
}
.post-preview-date, .post-date {
  float: right;
  font-size: 0.8rem;
}

.post-preview:hover .post-preview-title {
  font-weight: 600;
}

.post-preview:hover .post-preview-body {
  background-color: #111111;
  border-radius: 25px;
}
