#languages {
  text-align: right;
}

.sidebar .links a {
  color: #848482;
  font-size: 0.6rem;
  display: inline-block;
  width: 80px;
  padding: 1px 5px 1px 5px;
  border-right: 1px solid #848482;
}

.sidebar .links a:last-child {
  border-right: none;
}

.sidebar .links a:hover {
  background-color: #555555;
  border-radius: 2px;
}

.post img {
  margin-left: auto;
  margin-right: auto;
}

.post-preview {
  position: relative;
}
.post-preview-body {
  margin: 5px 15px 5px 15px;
  padding: 20px 5px 5px 20px;
}
.post-preview-body h3 {
  display: none;
}
.post-preview-date, .post-date, .disqus-comment-count {
  float: right;
  font-size: 0.8rem;
}
.disqus-comment-count {
  position: absolute;
  top: 0;
  right: 6rem;
  width: 180px;
  text-align: right;
}

.post-preview:hover .post-preview-title {
  font-weight: 600;
}

.post-preview:hover .post-preview-body {
  background-color: #111111;
  border-radius: 25px;
}
