.sidebar .bottom-links, .sidebar .tagline, .disqus-comment-count {
  display: none;
}

#languages {
  position: absolute;
  top: 0;
  right: 0;
}
#languages a {
  padding: 0 0.5rem 0 0.5rem;
  border-right: 1px solid #848482;
}
#languages a:last-child {
  border-right: none;
}

@media (max-width: 48em) {
  .sidebar .sidebar-nav-item {
    display: inline-block;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
  .sidebar .sidebar-nav-item:hover {
    background-color: #111111;
  }
}
@media (min-width: 48em) {
  .sidebar .tagline, .disqus-comment-count {
    display: block;
  }
  .sidebar .tagline {
    margin-top: 50px;
  }
  .sidebar .tagline-image {
    float: right;
  }
  .sidebar .tagline-text {
    quotes: "\201C""\201D""\2018""\2019";
  }
  .sidebar .tagline-text:before, .sidebar .tagline-text:after {
    font-size: 2em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
  }
  .sidebar .tagline-text:before {
    content: open-quote;
  }
  .sidebar .tagline-text:after {
    content: close-quote;
  }
}

@media (min-width: 58em) {
  .sidebar .bottom-links {
    display: block;
  }
  
  .sidebar .bottom-links {
    position: fixed;
    bottom: 0;
  }
  
  .disqus-comment-count {
    display: block;
    position: absolute;
    top: 0;
    right: 6rem;
    width: 180px;
    text-align: right;
  }
}

@media (min-height: 42em) {
  .page.about .my-links {
    position: fixed;
    bottom: 0;
  }
}

.page.about .links a {
  color: #848482;
  font-size: 0.6rem;
  display: inline-block;
  width: 80px;
  padding: 1px 5px 1px 5px;
  border-right: 1px solid #848482;
}

.page.about .links a:last-child {
  border-right: none;
}

.page.about .links a:hover {
  background-color: #555555;
  border-radius: 2px;
}

.post img {
  margin-left: auto;
  margin-right: auto;
}

.post-preview {
  position: relative;
}
.post-preview-body {
  margin: 5px 15px 5px 15px;
  padding: 20px 5px 5px 20px;
}
.post-preview-body h3 {
  display: none;
}
.post-preview-date, .post-date, .disqus-comment-count {
  float: right;
  font-size: 0.8rem;
}
.post-preview:hover .post-preview-title {
  font-weight: 600;
}
.post-preview:hover .post-preview-body {
  background-color: #111111;
  border-radius: 25px;
}
#page-not-found {
  border-bottom: dashed;
  border-bottom-color: #111111;
  text-align: right;
  width: 100%;
}
