<div class="sidebar">
  <div class="container sidebar-sticky">

    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <div id="languages">
        <a href="javascript:switchLanguage('en');">ENG</a>
        <a href="javascript:switchLanguage('ru');">RUS</a>
      </div>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">{{ site.description }}</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | where:"category", page.category %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url  | remove_first: '/' }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <div class="tagline">
      <img class="tagline-image" src="/public/img/yoda-64x64.png"/>
      <i class="tagline-text">Complexity is the path to the dark side</i>
    </div>

    <div class="bottom-links">
      '{{ site.baseurl }}'
      <a href="/atom.xml"><img src="/public/img/rss-32x32.png"/></a>
    </div>
  </div>
</div>

<script type="application/javascript">
  function switchLanguage(language) {
    var regex = /\/(en|ru)(\/.*)/;
    if (window.location.pathname.match(regex)) {
      openPageIfAvailable('/' + language + window.location.pathname.replace(regex, "$2"), language);
    }
    else {
      window.location = '/' + language;
    }
  }

  function suggestGoogleTranslate(language) {
    $('#page-not-found').remove();
    $('.post-title').prepend('<div id="page-not-found"><h4></h4><span id="google_translate_element"></span></div>');

    $('#page-not-found h4').text('ru' == language ? 
            'Страница ещё не переведена на русский язык. Попробуйте Google Translate.' :
            'Page is not translated to English yet. Try Google Translate.');

    $.getScript('//translate.google.com/translate_a/element.js?cb=loadGoogleTranslateWidget');
  }
  
  function loadGoogleTranslateWidget() {
    new google.translate.TranslateElement({
              pageLanguage: 'ru',
              layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL,
              autoDisplay: false,
              multilanguagePage: true,
              gaTrack: true, gaId: 'UA-70355317-1'},
            'google_translate_element');
    $('#languages').css('margin-top', '12px');
    $('.sidebar').css('margin-top', '30px');
  }

  function openPageIfAvailable(url, language) {
    $.ajax(url, {
      type: 'GET',
      statusCode: {
        404: function() {suggestGoogleTranslate(language);}
      }, success: function () {
        window.location = url;
      }
    });
  }
</script> 