---
layout: default
title: Home
category: ru
---

<div class="posts">
  {% assign posts=site.posts | where:"category", 'ru' %}
  {% for post in posts %}
  <div class="post-preview">
    <a class="post-preview-title" href="{{ post.url }}">{{ post.title }}</a>
    <span class="disqus-comment-count" data-disqus-identifier="{{ page.id }}"></span>
    <div class="post-preview-date">{{ post.date | date: "%m.%d.%Y" }}</div>
    <div class="post-preview-body">{{ post.excerpt }}</div>
  </div>
  {% endfor %}
</div>

<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->

<script id="dsq-count-scr" src="//asolntsev.disqus.com/count.js" async></script>